@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
    line-height: normal;
}
p {
    color: v.$negro;
}
.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img,
picture {
    display: block;
}

h1, h2, h3, h4 {
    font-family: v.$fuente_headings;
    font-weight: v.$bold;
    color: v.$negro;
}

h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 2.4rem;
}
h4 {
    font-size: 2rem;
}