@use 'variables' as v;
@use 'mixins' as m;

.seccion {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.contenido-centrado {
    max-width: 800px;
}
.alinear-derecha {
    display: flex;
    justify-content: flex-end;
}
.margen-abajo {
    margin-bottom: 2rem;
}
.w-100 {
    width: 100%;
}
.texto-rojo {
    color: v.$rojo;
}
.t-align-center {
    text-align: center;
}
.t-align-justify {
    text-align: justify;
}


/** Margenes **/
.mt-0 {
    margin-top: 0;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-5 {
    margin-top: 5rem;
}
.mt-10 {
    margin-top: 10rem;
}

.mb-0 {
    margin-bottom: 0;
}
.mb-5 {
    margin-bottom: 5rem;
}


/** Colores **/
.color-primario {
    color: v.$primario;
}