.seccion {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.contenido-centrado {
    max-width: 800px;
}
.alinear-derecha {
    display: flex;
    justify-content: flex-end;
}
.margen-abajo {
    margin-bottom: 2rem;
}
.w-100 {
    width: 100%;
}


/** Margenes **/
.mt-0 {
    margin-top: 0;
}
.mb-0 {
    margin-bottom: 0;
}