<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # --- REGLAS DE URL AMIGABLES ---

    # Elimina la barra inclinada final de las URLs para evitar contenido duplicado
    # Ejemplo: /marketplace/ -> /marketplace
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # --- CONTROLADOR FRONTAL (FRONT CONTROLLER) ---

    # Si la solicitud no es para un directorio físico...
    RewriteCond %{REQUEST_FILENAME} !-d
    # ...y no es para un archivo físico (como un .css, .js, o .jpg)...
    RewriteCond %{REQUEST_FILENAME} !-f
    
    # ...entonces, redirige la solicitud a index.php para que el Router de PHP la maneje.
    RewriteRule ^ index.php [L]
</IfModule>

# Medida extra de seguridad para prevenir listado de directorios en /public
Options -Indexes