<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    
    # Pasa la URL capturada (.*) como un parámetro 'url' a index.php
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>