@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.auth {
    @include m.contenedor-sm();
    margin-bottom: 5rem;

    &__heading {
        text-align: center;
        font-weight: 700;
    }
}

.configuracion-2fa {
    &__texto {
        font-weight: v.$bold;
        margin-bottom: 2rem;
    }

    &__activo {
        color: v.$success;
    }

    &__inactivo {
        color: v.$error;
    }

    &__qr {
        display: flex;
        flex-direction: column;
    }

    &__instrucciones {
        margin-top: 0;
    }

    &__codigo-secreto {
        margin-top: 5rem;
    }

    &__secret {
        font-weight: v.$bold;
        display: block;
        text-align: center;
    }

    &__imagen {
        width: 20rem;
        align-self: center;
    }

    &__backup-codes {
        margin-top: 5rem;

        .backup-codes {
            margin-bottom: 2rem;
            display: flex;
            flex-wrap: wrap; // Permite que los elementos pasen a la siguiente línea
            gap: 1.5rem 2rem;   // Espacio entre filas y columnas (1.5rem vertical, 2rem horizontal)
            justify-content: center; // Centra los códigos para un mejor aspecto
            
            .backup-code {
                font-weight: v.$bold;
                padding: 0.5rem; // Añade un poco de espacio interno
                background-color: #e9ecef; // Un fondo sutil para cada código
                border-radius: 4px;
            }
        }
    }

    &__subheading {
        border-left: 5px solid v.$primario;
        padding-left: 1rem;
    }

}