@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.auth {
    @include m.contenedor-sm();

    &__heading {
        text-align: center;
        font-weight: v.$black;
    }
}

.configuracion-2fa {
    &__qr {
        display: flex;
        flex-direction: column;
    }

    &__imagen {
        width: 20rem;
        align-self: center;
    }
}