@use 'base/variables' as v;
@use 'base/mixins' as m;


.logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include m.desktop {
        flex-direction: row;
        gap: 3rem;
    }

    img {
        height: 20rem;
        width: auto;

        @include m.desktop {
            height: 8rem;
        }
    }

    h2 {
        font-weight: 700;
    }
}


.hero {
    background-color: v.$primario;
    min-height: 20rem;
}


.contenido-header {
    position: relative;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h1 {
        color: v.$blanco;
        text-transform: uppercase;
    }
}
