@use 'base/variables' as v;
@use 'base/mixins' as m;

/** Estilos para la barra nav de index.html **/
.inicio {
    background-color: v.$dashboard;

    .barra {
        h2 {
            color: v.$blanco;
        }

        .enlaces {
            a {
                color: v.$blanco;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}


/** Estilos generales para la barra nav **/
.barra {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;

    @include m.desktop {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .busqueda {
        position: relative;
        background: #f5f5f5;
        border-radius: 2.5rem;
        padding: 1rem;
        width: 29rem;

        form {
            display: flex;
            align-items: center;
        }

        input {
            border: none;
            outline: 0;
            flex: 1;
            background: #f5f5f5;
        }

        button {
            border: none;
            background: transparent;
            cursor: pointer;
            opacity: 0.7;
        }
    }

    .sugerencias {
        position: absolute;
        top: 100%; // Posiciona las sugerencias justo debajo del input
        left: 0;
        right: 0;
        background-color: #fff;
        border-radius: 5px;
        list-style: none;
        padding: 0;
        margin: 0;
        z-index: 1000;
        max-height: 200px; // Limita la altura máxima
        overflow-y: auto; // Permite desplazamiento si hay muchas sugerencias

        li {
            padding: 0.8rem;
            cursor: pointer;
            font-size: 1.4rem;

            &:hover {
                background-color: #f4f4f4;
            }
        }

        .sugerencia-header {
            font-weight: bold;
            padding: 0.8rem;
            background-color: #f9f9f9;
        }
    }

    .enlaces {
        display: flex;
        align-items: center;
        gap: 2rem;
        font-size: 2rem;

        &--inicio {
            @extend .enlaces;
            
            a {
                text-transform: uppercase;
            }
        }
        
        a {
            font-weight: v.$bold;
            color: v.$negro;
        }

        .icono_favorito {
            height: 2.5rem;
        }

        .icono_perfil {
            height: 3.5rem;
        }

        button {
            border: none;
            background: transparent;
            cursor: pointer;
            font-weight: v.$bold
        }
    }

}



/* Modal de Categorias */
.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    .modal-content {
        background: #fff;
        padding: 2rem;
        border-radius: 8px;
        width: 30rem;
        text-align: center;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        position: relative;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        padding: 10px 0;
    }

    a {
        text-decoration: none;
        color: #333;
        font-weight: 700;

        &:hover {
            color: #000;
        }
    }

    .close {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 3rem;
        cursor: pointer;
        background: transparent;
        border: none;
    }
}


.modal.show {
    opacity: 1;
    visibility: visible;
}
