@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.table {
    width: 100%;
    border-collapse: collapse;

    @include m.tablet {
        min-width: 100%; // En tablets/desktop ocupa el 100%
    }

    &__thead {
        background-color: v.$dashboard;
        color: v.$blanco;
    }

    &__th {
        padding: 1rem;
        text-align: left;
        vertical-align: bottom; // Alinear texto de encabezados abajo

        &--imagen {
            text-align: center;
            width: 10rem;
        }
    }

    &__tr {
        &:nth-child(even) {
            background-color: color.adjust(v.$dashboard, $lightness: 70%);
        }
    }

    &__td {
        padding: 1.5rem 1rem;
        vertical-align: middle; // IMPORTANTE: Centra verticalmente todo en la celda

        &--acciones {
            @extend .table__td;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 2rem;

            &-subcategorias {
                @extend .table__td--acciones;
                padding: 0;
            }
        }

        &--imagen {
            width: 10rem;
            text-align: center;
            padding: 0.5rem; // Un padding pequeño dentro de la celda de imagen
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: flex;  // Cambiado para alinear los elementos dentro de cada li
                justify-content: space-between;
                align-items: center;  // Centra verticalmente el contenido
                gap: 1rem;  // Añade espacio entre los enlaces de editar y eliminar
            }
        }
    }

    &__imagen {
        display: block;       // Trata la imagen como bloque
        width: 100%;          // Intenta llenar el ancho de la celda (que es 10rem)
        height: 8rem;         // Define una ALTURA FIJA (ajusta este valor)
        max-width: 100%;      // Asegura que no exceda el ancho de la celda
        object-fit: contain;  // Mantiene el aspect ratio dentro del alto/ancho definido
        margin: 0 auto;       // Centra horizontalmente si object-fit deja espacio
        mix-blend-mode: multiply;
    }

    // Estilo opcional para el texto "S/I" ---
    &__no-imagen {
        display: inline-block;
        font-size: 1.2rem;
        color: v.$gris; // O el color que prefieras
        font-style: italic;
    }

    &__accion {
        all: unset;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: v.$bold;

        &--editar {
            color: v.$primario;
        }

        &--eliminar {
            color: v.$error;
        }

        &:hover {
            cursor: pointer;
        }
    }
}